.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-msg {
  font-size: 30px;
  font-weight: 500;
}

.return-btn {
  margin: 5px;
}

.return-btn:hover {
  cursor: pointer;
}